USE [master]
GO
/****** Object:  Database [PabserAPI]    Script Date: 5/11/2019 11:47:27 PM ******/
CREATE DATABASE [PabserAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PabserAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PabserAPI.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PabserAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PabserAPI_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PabserAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PabserAPI]
GO
/****** Object:  Table [dbo].[Fasilitas]    Script Date: 5/11/2019 11:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Fasilitas](
	[IDFasilitas] [int] IDENTITY(1,1) NOT NULL,
	[IDRuangan] [int] NOT NULL,
	[NamaFasilitas] [varchar](50) NOT NULL,
	[Kondisi] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Fasilitas] PRIMARY KEY CLUSTERED 
(
	[IDFasilitas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Request]    Script Date: 5/11/2019 11:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Request](
	[IdBooking] [int] IDENTITY(1,1) NOT NULL,
	[IdRoom] [int] NOT NULL,
	[RoomName] [varchar](50) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[IdBooking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ruangan]    Script Date: 5/11/2019 11:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ruangan](
	[IDRuangan] [int] IDENTITY(1,1) NOT NULL,
	[NamaRuangan] [varchar](50) NOT NULL,
	[KapasitasRuangan] [int] NOT NULL,
	[TanggalAvailable] [date] NOT NULL,
	[Status] [int] NOT NULL CONSTRAINT [DF_Ruangan_Status]  DEFAULT ((0)),
 CONSTRAINT [PK_Ruangan] PRIMARY KEY CLUSTERED 
(
	[IDRuangan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/11/2019 11:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[NamaUser] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
